<!doctype html>
<!-- django 'mathfilters' is not a registered tag library. -->
{% load mathfilters %}
{% load static %}
{% if valores %}
<script> valores={{valores}}</script>
<script> namemodelos={{namemodelos}}</script>
<script> anios={{anios}}</script>
<script> lugar ="{{lugar}}"</script>
<script> dataparametersSt ="{{dataparametersSt}}"</script>
{% endif %}
 
<html lang="en">
<script  src="{% static 'js/queue.v1.min.js' %}"  ></script>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script  src="{% static 'js/topojson.js' %}"  ></script>
<script  src="{% static 'js/jquery-3.0.0.min.js' %}" ></script>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>River flow (Catchments)</title>

</head>
<body>

<section class='container'>
          <hgroup>
            <h1>River flow (Catchments) - {{lugar}} - {{dataparametersSt}} </h1>
          </hgroup>
<form method="post">
<!--
<input name="prueba" id="prueba" value="value to sent"/>
<input type="submit" value="boton aceptar" />
-->
     <div class="row">
          <section class='col-xs-12 col-sm-12 col-md-12'>
				
<div id="chart"></div>
<section>
<script>
data0 = []
columns=[]
columns2=[]



modelos=[]
{%for  modelo in namemodelos%}
modelos.push("{{modelo}}")
{%endfor%} 

{%for  value in valores%}
data{{forloop.counter}}=[]
data{{forloop.counter}}.push(modelos['{{forloop.counter}}'-1])
    {%for elem in value %}
        data{{forloop.parentloop.counter}}.push({{elem}})
    {%endfor%}
    columns.push(data{{forloop.counter}})
{%endfor%} 

 var mydata={}
 mydata.columns=columns;
 var maxis={}
 var xaxis={}
 var tick={}
 tick.format= function (x) {  switch(x){case 0:return "historical"; case 1:return("2011-2040");case 2:return "2041-2070"; case 3:return("2071-2100");} }
 tick.fit=false;
 xaxis.tick=tick
 maxis.x=xaxis;

  var chart = c3.generate({
    bindto: '#chart',
    data: mydata,
	axis:maxis
})
Array.prototype.sum = Array.prototype.sum || function() {
  return this.reduce(function(sum, a) { return sum + Number(a) }, 0);
}

Array.prototype.average = Array.prototype.average || function() {
  return this.sum() / (this.length || 1);
}


var newArray = $.map(mydata,function(elem, pos){
  average=[]
  average.push("Average")
  for (i=1; i<columns[0].length;i++){
    valores=[]
    for (j=1;j<columns.length;j++){
        valor=columns[j][i]
        valores.push(valor)
    }
    average.push(valores.average() )
  }  
  return average;
});


</script>
</section>
<!--
    <section>
    <div id="chartMedia"></div>

<script>

var monthNames = [ "ENE", "FEB", "MAR", "ABR", "MAY", "JUN", "JUL", "AGO", "SEP", "OCT","NOV", "DEC" ];

function jarh(x) {
var y = 365;
var y2 = 31;
var remainder = x % y;
var casio = remainder % y2;
year = (x - remainder) / y;
month = (remainder - casio) / y2;

var result ="--- Year ---" + year + "--- Month ---" + month + "--- Day ---" + casio;

return month;
}

 var mydata2={}
 mydata2.x='x';
 columns2.push(newArray)
 mydata2.columns=columns2;
  var chartMedia = c3.generate({
    bindto: '#chartMedia',
    data: mydata2,
    axis : {
        x : {
            type : 'timeseries',
            tick: {
                format: function (x) {return monthNames[jarh(x)];}
              //format: '%Y' // format string is also available for timeseries data
            }
        }
    }


});




</script>
    </section> -->
          </section>

        </div>

        
        <footer>
          <div class="logo"><a href="climatecoders"></a></div>
        </footer>

</section>
</body>
</html>
